<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>IT Academy</title>
    </head>
    <body>

        <h1>IT Academy</h1>

        <h2>Enregistrement confirmé !</h2>
        
    </body>
</html>