<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>IT Academy</title>
    </head>
    <body>

        <h1>IT Academy</h1>

        <h2>Entrer votre pseudo</h2>

        <form action="/logged" method="post">
            <input type="text" id="nickname" name="nickname">
            <input type="submit" value="Enregistrer">
        </form>
        
    </body>
</html> 